body {
    background: rgb(240, 218, 132);
    text-align: justify;
    font-family: "Kanit";
    /*"Alternative fonts: 1) Oswald"
    2) Kanit*/
}
#lista-fondo {
    
    background: rgb(179, 121, 29);
}

#title {
    color: rgb(158, 116, 49);
    text-align: center;
    font-family: "Oswald";
}

.subtitle {
    color: rgb(209, 153, 63);
    font-family: "Kanit";
}

#subtitle {
    color: rgb(209, 153, 63);
    text-align: center;
    font-family: "Kanit";
}

.link {
    text-decoration: ;
}
#img-intro{
    height: 300px;
    width: 100%;
}