body {
    background: rgb(240, 218, 132);
    text-align: justify;
    font-family: "Kanit", sans-serif;
    /*"Alternative fonts: 1) Oswald"
    2) Kanit*/
}
#lista-fondo {
    
    background: rgb(179, 121, 29);
}

#title {
    color: rgb(158, 116, 49);
    text-align: center;
    font-family: "Oswald", sans-serif;
}

.subtitle {
    color: rgb(209, 153, 63);
    font-family: "Kanit", sans-serif;
}

#subtitle {
    color: rgb(209, 153, 63);
    text-align: center;
    font-family: "Kanit", sans-serif;
}

.link {
    text-decoration: ;
}
#img-intro{
    height: 350px;
    width: 100%;
    border: 3px solid rgb(99, 73, 30);
    
}