body {
    background: rgb(240, 218, 132);
    text-align: justify;
    font-family:sans-serif;
}
#lista-fondo {
    
    background: rgb(179, 121, 29);
}

#title {
    color: rgb(158, 116, 49);
    text-align: center;
}

.subtitle {
    color: rgb(209, 153, 63);
}

#subtitle {
    color: rgb(209, 153, 63);
    text-align: center
}

.link {
    text-decoration: ;
}
#img-intro{
    height: 300px;
    width: 100%;
}